body {
  background-color: #26b3cc;
}

#content {
  padding-left: 20px;
  padding-right: 20px;
}

.berryInfoTopic,
.aboutSystem h1 {
  font-family: 'Indie Flower', cursive;
}
.aboutSystem h1 {
  font-size:50px;
}
.aboutSystem p {
  /*font-family: 'Fjalla One', sans-serif;*/
  color: white;
  font-size: 16px;
}

.imgCol {
  min-height:96px;
  min-width: 120px;
}

.berryLat {
  font-family: 'Fjalla One', sans-serif;
  font-style:italic;
  color:gray;
  font-size: 18px;
}

@media only screen and (max-width: 992px) {
  .imgCol {
    position: static !important;
  }
}
